       
.mainButtonBox {
  max-width: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;

}

.buttonStyle {
  margin-bottom: 5px;
  border: none;
  font-size: 8px;
  color: white;
  background-color: rgb(143, 5, 143);
  cursor: pointer;
}