.mainBox {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 50%;
  margin-right: 20px;
  margin-left: 20px;
  max-height: 68vh;
  overflow-y: auto;
}

.musicBox {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  max-height: 14vh;
  max-width: 77vw;
  min-width: 77vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.playSong {
  cursor: pointer;
  padding: 5px;
  
}

.songTitleArtistBox {
  margin-left: 3px;
  padding: 2px;
}

.defaultTitleText {
  font-size: 150%;
}

.defaultArtistText {
  font-size: 120%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  color: grey;
}
