.mainPlayListBox {
  margin-left: 5px;
  min-width: 35vw;
  max-width: 35vw;
}
.clickBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 10px;
  font-style: italic;
  border-bottom: 1px solid grey;
}
.deletePLButton {
  margin-left: auto;
  font-size: 20px;
  border: none;
  font-weight: bold;
  color: rgb(143, 5, 143);
  background-color: transparent;
  cursor: pointer;
}
.PLButton {
  text-align: left;
  border: none;
  font-style: italic;
  color: rgb(194, 188, 207);
  background-color: transparent;
  cursor: pointer;
}
.playlistBox {
  text-align: left;
  max-height: 60vh;
  min-height: 60vh;
  overflow: auto;
  direction: rtl;
  padding-left: 4px;
  padding-right: 4px;
}
.playlistBox::-webkit-scrollbar {
  display: none;
}

.addPlaylistButton {
  border: none;
  font-weight: bold;
  color: rgb(143, 5, 143);
  background-color: transparent;
  cursor: pointer;
}

.playListBorderBottom {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.addPLBox {
  max-width: 80px;
  min-height: 20px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(194, 188, 207);
  border: none;
  background-color: transparent;
  outline: none;
}

.addPLBox:focus {
  border: none;
  background-color: transparent;
  outline: 1px solid;
  outline-color: rgb(143, 5, 143);
}
