.clickBox {
  font-size: 12px;
  font-style: italic;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.playlistBox {
  text-align: left;
  min-height: 60vh;
  max-height: 60vh;
  overflow: auto;
  direction: rtl;
  padding-left: 4px;
  padding-right: 4px;
}

.addPlaylistButton {
  border: none;
  font-weight: bold;
  color: rgb(143, 5, 143);
  background-color: transparent;
  cursor: pointer;
}

.playListBorderBottom {
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.mainPlayListBox {
  margin-left: 5px;
  min-width: 184px;
  max-width: 184px;
}

.addPLBox {
  max-width: 95px;
  min-height: 20px;
  font-size: 12px;
  margin-top: 1px;
  color: rgb(233, 233, 233);
  border: none;
  background-color: transparent;
}

.addPLBox:focus {
  border: none;
  background-color: transparent;
}
