.mainPlayListBox {
  margin-left: 2px;
  min-width: 35vw;
  max-width: 35vw;
}
.clickBox {
  font-size: 10px;
  font-style: italic;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.playlistBox {
  text-align: left;
  max-height: 60vh;
  min-height: 60vh;
  overflow: auto;
  direction: rtl;
  padding-left: 4px;
  padding-right: 4px;
}
.playlistBox::-webkit-scrollbar {
  display: none;
}

.addPlaylistButton {
  border: none;
  font-weight: bold;
  color: rgb(143, 5, 143);
  background-color: transparent;
  cursor: pointer;
}

.playListBorderBottom {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.addPLBox {
  max-width: 80px;
  min-height: 20px;
  font-size: 12px;
  margin-top: 1px;
  color: rgb(194, 188, 207);
  border: none;
  background-color: transparent;
}

.addPLBox:focus {
  border: none;
  background-color: transparent;
  outline-color: rgb(143, 5, 143);
}
