.mainBoxPL {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 50%;
  margin-right: 20px;
  margin-left: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.mainBoxPL::-webkit-scrollbar {
  display: none;
}

.musicBoxPL {
  display: flex;
  border-bottom: 1px solid grey;
  max-height: 14vh;
  max-width: 85vw;
  min-width: 85vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.playSongPL {
  cursor: pointer;
  padding: 5px;
}

.songTitleArtistBoxPL {
  margin-left: 3px;
}

.defaultTitleTextPL {
  font-size: 180%;
  margin-top: 5px;
}

.defaultArtistTextPL {
  font-size: 140%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}
