.mainBoxPL {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 50%;
  margin-right: 20px;
  margin-left: -20px;
  max-height: 80vh;
  overflow-y: auto;
}

.musicBoxPL {
  display: flex;
  border-bottom: 1px solid grey;
  max-height: 14vh;
  max-width: 77vw;
  min-width: 77vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.playSongPL {
  cursor: pointer;
  padding: 5px;
}

.songTitleArtistBoxPL {
  margin-left: 3px;
  padding: 2px;
}

.defaultTitleTextPL {
  font-size: 150%;
}

.defaultArtistTextPL {
  font-size: 120%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.playAllButton {
  max-height: 15px;
  min-height: 15px;
  font-size: 10px;
  border: none;
  border-bottom: 1px solid grey;
  margin-left: 5px;
}
