.searchMusicMain {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttonBox {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  border: none;
  border-radius: 5%;
  border-bottom: 1px solid black;
  cursor: pointer;
  max-width: 100px;
  min-height: 20px;
  color: rgb(233, 233, 233);
  background-color: rgb(143, 5, 143);
}

.buttonBox:focus {
  background-color: lightgreen;
  color: white;
}

.searchBox {
  max-width: 95px;
  min-height: 20px;
  font-size: 12px;
  margin-top: 5px;
  color: rgb(233, 233, 233);
  border: none;
  background-color: transparent;
}

.searchBox:focus {
  border: none;
  background-color: transparent;
}
