.mainStyleApp {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgb(42, 40, 46);
  color: rgb(194, 188, 207);
}

.mainStyleApp::-webkit-scrollbar {
  display: none;
}
